<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contohapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContohApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".DummyActivity" />
        <activity android:name=".CatalogChoose1" />
        <activity android:name=".CatalogChoose2" />
        <activity android:name=".DateTime" />
        <activity android:name=".CreateOrder" />
        <activity android:name=".ReserveHome" />
        <activity android:name=".ViewConfirmed" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".ConfirmOrder" />
        <activity android:name=".OrderStub" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ContohApp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>